/venv/
/app_bot.properties
/resources/output/raw/lmohada.txt
/resources/output/raw/yawylno.txt
/resources/output/excel/@Alm0hada_user_tweets.xlsx
/resources/output/excel/@yawylno_user_tweets.xlsx
/resources/output/cleaned_dataset.txt
/resources/output/dirty_dataset.txt
.idea
